DATABASE_URL=
CHAIN_RPC_URL=http://127.0.0.1:8545
CHAIN_ID=31337
NFT_CONTRACT_ADDRESS=
MINTER_ADDRESS=0x70997970C51812dc3A010C7d01b50e0d17dc79C8
CHAIN_CONFIRMATIONS=1
CHAIN_FROM_BLOCK=0
CHAIN_REORG_MARGIN=12
WORKER_ID=local-mint-worker
ALLOW_UNLOCKED_LOCAL_MINTER=true
